.span {
    background-image: url(https://cdn.icon-icons.com/icons2/1558/PNG/128/353430-checkbox-edit-pen-pencil_107516.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 25px;
    display: inline-block;
    height: 23px;
}